@model Personal.ViewModels.DesactivarEmpleadoVM
@using Personal.WebHost.Helper;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.tipoEmpleado.I_COD_TIPO_EMPLEADO, new { @id = "I_COD_TIPO_EMPLEADO" })
    @Html.Hidden("C_COD_PERSONA", HttpContext.Current.Request.QueryString["codPersona"])
    @Html.Hidden("C_COD_MENU", (string)ViewBag.codMenu)

    <h1 class="itemtitle">DESACTIVAR PERSONAL</h1>
    <div class="itemList">
        <ul style="width: 50%;">
            <li class="itemList-img">
                <img src="../Images/ico-tab-pane-.png">
            </li>
            <li class="itemList-active" tabindex="0" data-href="/Estudios/_listStudies">Detalle</li>

        </ul>
    </div>

    <div class="aux-tabcontent">
        <div style="height:450px;position: relative;overflow-y: auto;overflow-x:hidden">

            <div id="content-page-ajax">
                <div class="tabcontent-form">
                    <!--<div style="position: fixed;  margin-top: -6px;  background: white;z-index: 1;  width: 883px; height: 70px;">-->
                    <div>
                        <div class="tabcontent-header">
                            <h2 id="tabcontent-title">
                                Datos Modalidad
                            </h2>
                        </div>
                    </div>

                    <div class="form">
                        <div class="form-content">

                            <div class="form-row">
                                @if (Model.personaModalidad.C_ACTIVO.ToUpper() == "S")
                                {
                                    <div class="form-row-cell title-cell-bold">
                                        Tipo de Baja
                                    </div>
                                }
                                <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.tipoEmpleado.I_COD_TIPO_EMPLEADO)
                                </div>
                                <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.tipoModalidad.I_COD_TIPO_MODALIDAD)
                                </div>
                            </div>


                            <div class="form-row">
                                @if (Model.personaModalidad.C_ACTIVO.ToUpper() == "S")
                                {
                                    <div class="form-row-cell">

                                        <div class="contentChecked">
                                            <label for="test">Destacado Otra Institucion</label>
                                            <label class="myCheckbox">
                                                <input type="radio" name="vTipoBaja" id="rdbDestacado" />
                                                <span></span>
                                            </label>
                                        </div><div class="contentChecked">
                                            <label for="test">Retiro</label>
                                            <label class="myCheckbox">
                                                <input type="radio" name="vTipoBaja" id="rdbRetiro" />
                                                <span></span>
                                            </label>
                                        </div>

                                    </div>
                                }
                                <div class="form-row-cell">
                                    @Html.TextBoxFor(m => m.tipoEmpleado.V_DES_TIPO_EMPLEADO, htmlAttributes: new { @disabled = "disabled", @id = "V_DES_TIPO_EMPLEADO" })
                                </div>
                                <div class="form-row-cell">
                                    @Html.TextBoxFor(m => m.tipoModalidad.V_DES_TIPO_MODALIDA, htmlAttributes: new { @disabled = "disabled" })
                                </div>

                            </div>
                        </div>
                        <div class="form-content">
                            <div class="form-row">
                                <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.personaModalidad.I_COD_TIPO_DOCUMENTO_INGRESO)
                                </div>
                                <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.personaModalidad.V_NRO_DOCUMENTO_INGRESO)
                                </div>
                                <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.personaModalidad.D_FECHA_CONTRATO)
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-row-cell">
                                    @Html.TextBoxFor(model => model.vTipoDocumeto, new { @disabled = "disabled" })
                                </div>
                                <div class="form-row-cell">
                                    @Html.TextBoxFor(model => model.personaModalidad.V_NRO_DOCUMENTO_INGRESO, htmlAttributes: new { @disabled = "disabled" })
                                </div>
                                <div class="form-row-cell">
                                    @Html.TextBoxFor(model => model.personaModalidad.D_FECHA_CONTRATO, htmlAttributes: new { @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="form-content">
                            <div class="form-row">
                                <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.personaModalidad.I_COD_TIPO_DOCUMENTO_CESE)
                                </div>
                                <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.personaModalidad.V_NRO_DOCUMENTO_CESE)
                                </div>   <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.personaModalidad.D_FECHA_SECE)
                                </div>

                                 
                            </div>
                            <div class="form-row">
                                <div class="form-row-cell">
                                    @Html.DropDownListFor(model => model.personaModalidad.I_COD_TIPO_DOCUMENTO_CESE,
                                    new SelectList(Model.tipoDocumento, "I_COD_TIPO_DOCUMENTO", "V_DES_TIPO_DOCUMENTO")
                                    , "--SELECT--"
                                    , new { @id = "I_COD_TIPO_DOCUMENTO_CESE" }
                                    , Model.personaModalidad.C_ACTIVO.ToUpper() == "N" ? true : false)

                                </div>   <div class="form-row-cell">
                                    @Html.TextBoxFor(model => model.personaModalidad.V_NRO_DOCUMENTO_CESE, new { @id = "V_NRO_DOCUMENTO_CESE" }, Model.personaModalidad.C_ACTIVO.ToUpper() == "N" ? true : false)
                                </div>
                                <div class="form-row-cell">
                                    @Html.TextBoxFor(model => model.personaModalidad.D_FECHA_SECE, new { @id = "D_FECHA_SECE" }, Model.personaModalidad.C_ACTIVO.ToUpper() == "N" ? true : false)
                                    @*@Html.TextBoxFor(model => model.personaModalidad.D_FECHA_SECE,

                                        new { @id = "D_FECHA_SECE" },)*@

                                </div>

                            </div>
                        </div>
                        <div class="form-content">
                            <div class="form-row">
                                <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.personaModalidad.V_MOTIVO_CESE_CONTRATO)
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="" style="width:95%">
                                    @Html.TextAreaFor(model => model.personaModalidad.V_MOTIVO_CESE_CONTRATO,
                                      Model.personaModalidad.C_ACTIVO.ToUpper() == "N" ?
                                    (object)new
                                    {
                                        @class = "empty observacion",
                                        @id = "V_MOTIVO_CESE_CONTRATO",
                                        @disabled = ""
                                    } :
                                    (object)new
                                    {
                                        @class = "empty observacion",
                                        @id = "V_MOTIVO_CESE_CONTRATO"
                                    }
                                  )
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form" id="contentMilitares">

                        <div class="form-content">
                            <div class="tabcontent-header">
                                <h2>Datos Militares</h2>
                            </div>
                            <div class="form-row">
                                <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.institucion.V_DES_INSTITUCION)
                                </div>
                                <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.institucion.MA_GRADO_MILITAR)
                                </div>
                                <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.situacionMilitar.First().V_DES_TIPO_SITUACION)
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-row-cell title-cell-bold">
                                    @Html.TextBoxFor(model => model.institucion.V_DES_INSTITUCION, htmlAttributes: new { @disabled = "disabled" })
                                </div>
                                <div class="form-row-cell title-cell-bold">
                                    @Html.TextBoxFor(model => model.gradoMilitar.V_DES_GRADO, htmlAttributes: new { @disabled = "disabled" })
                                </div>
                                <div class="form-row-cell title-cell-bold">
                                    <div class="form-row-cell">
                                        @Html.DropDownListFor(model => model.personaGrado.I_COD_SITUACION_MILITAR, new SelectList(Model.situacionMilitar, "I_COD_SITUACION_MILITAR", "V_DES_TIPO_SITUACION", Model.personaGrado.I_COD_SITUACION_MILITAR), "--SELECT--", new { @disabled = "disabled", @id = "I_COD_SITUACION_MILITAR" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-content">
                            <div class="form-row">
                                <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.personaGrado.D_FECHA_BAJA)
                                </div>
                                <div class="form-row-cell title-cell-bold">
                                    @Html.LabelFor(model => model.personaGrado.V_OBSERVACION_ANULACION)
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-row-cell">
                                    @Html.TextBoxFor(model => model.personaGrado.D_FECHA_BAJA, htmlAttributes: new { @disabled = "disabled" })
                                </div>
                                <div class="form-row-cell" style="width:62%">
                                    @Html.TextBoxFor(model => model.personaGrado.V_OBSERVACION_ANULACION, htmlAttributes: new { @disabled = "disabled" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/pages/EmployeesJS/_DesactivarEmpleado.js"></script>
}
